<!DOCTYPE html>
<head>
<style type="text/css">

 h1 {color:red;}
 </style>

<!-- This is a comment -->

<img src="logo.jpg" alt="ddrcco.com" width="300" height="142">

<h1 style="text-align:center;">Coping Skills Game</h1>
 <p>Learn to cope. Get the skills.</p>
 
<a href="http://www.ddrcco.com">This is a link to the DDRCCO webpage</a> 

<!--[if IE 8]>This is IE 8<br><![endif]-->
 <!--[if IE 11]>This is IE 11<br><![endif]-->
 <!--[if IE 10]>This is IE 10<br><![endif]--> 

 </body>

 <h2 style="text-align:center;background-color:blue;">Play the game</h2>
 <h3 style="background-color:purple;">Administrator options.</h3>
 </body>


<h2 style="text-align:center;">This may not be what the real homepage will look like</h2>

<font color="green"> <p style="text-align:center;">This is just a test</p></font> 
<!--
{% if user_list %}
	<ul>
	{% for user in user_list %}
		<li><a href="/CopingGame/{{ user.id }}/">{{ user.userName }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No users are available.</p>
{% endif %}
 -->
 </html> 