<!DOCTYPE html>

{% load staticfiles %}
<html>
<head>
	<!-- Title the page and link the style sheet -->
	<title>Game Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_game_page.css' %}" />	
	<script type="text/javascript">
		//Install iframe API
		var tag = document.createElement('script');
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
		
		var problemPlayer;
		
		//Load and start iframe video
		function onYouTubeIframeAPIReady() {
			problemPlayer = new YT.Player('problemPlayer', {
				height: '390',
				width: '640',
				//Initial problem video
				videoId: '{{stage0.pVideoId}}',
				playerVars :{ 
					//Pull playlist from database
					{% if player.stage == 0 %}
						'playlist': ['{% for sol in stage0.solutions.all %}{{ sol.sVideoId }}, {% endfor %}']
					{% elif player.stage == 1 %}
						'playlist': ['{% for sol in stage1.solutions.all %}{{ sol.sVideoId }}, {% endfor %}']
					{% elif player.stage == 2 %}
						'playlist': ['{% for sol in stage2.solutions.all %}{{ sol.sVideoId }}, {% endfor %}']
					{% elif player.stage == 3 %}
						'playlist': ['{% for sol in stage3.solutions.all %}{{ sol.sVideoId }}, {% endfor %}']
					{% elif player.stage == 4 %}
						'playlist': ['{% for sol in stage4.solutions.all %}{{ sol.sVideoId }}, {% endfor %}']
					{% endif %}
				},
				events: {
					'onReady': onPlayerReady,
					'onStateChange': onPlayerStateChange
				}
			});
		}
		
		//Play video when loaded
		function onPlayerReady(event) {
			event.target.playVideo();
		}
		
		
		//When video ends on last of playlist, show solutions div
		function onPlayerStateChange(event) {
			if (event.data == YT.PlayerState.ENDED /*&& end of playlist*/) {
				var divsToShow = document.getElementsByClassName("button");
				for(var i = 0; i < divsToHide.length; i++)
				{
					divsToShow[i].style.visibility="visible";
				}
			}
		}
		
		//Function to show divs after all videos have played
		function showSolutions() {
			var divsToShow = document.getElementsByClassName("button");
			for(var i = 0; i < divsToHide.length; i++)
			{
				divsToShow[i].style.visibility="visible";
			}
		}
		
		//Hide answer divs to force Player to watch videos
		//function hideSolutions() {
			//var divsToHide = document.getElementsByClassName("button");
			//for(var i = 0; i < divsToHide.length; i++)
			//{
				//divsToHide[i].style.visibility="hidden";
			//}
		//}
		//setTimeout("hideSolutions()", 0); //UNCOMMENT
		
		
		//Focus on the video player
		window.location.hash = '#Video1Div';
	</script>
</head>
<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that will have the user profile once logged in -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
					{% if user.is_authenticated %}
						<!-- user information -->
						{{ user.get_username }}
						<br>
						<img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>: {{ player.tokens }}
						{% if user.is_superuser %}
							<br>
							<a href="/admin/" style="color:{{ player.fav_text }}">Admin Page</a>
						{% endif %}
						<br>
						<a href="/logout/" style="color:{{ player.fav_text }}">Logout</a>
					{% else %}
						Not currently logged in, please log in.
					{% endif %}
					</td>
				</tr>		
				<tr>
					<td></td>
				</tr>
			</table>
		</tr>
		</br>
		<tr>
			<!-- What is the current scenario and problem -->
			<h1>Scenario - {{ scene.title }}</h1>
		</tr>
		<tr>
			<!-- Video Player Div -->
			<div id="Video1Div" align="center">
				<div id="problemPlayer" align="center">
				</div>
			</div>
		</tr>
		<tr>
			<!-- Header with current problem -->
			<h2>Problem - {% if player.stage == 0 %}{{ stage0 }}
				  {% elif player.stage == 1 %}{{ stage1 }}
				  {% elif player.stage == 2 %}{{ stage2 }}
				  {% elif player.stage == 3 %}{{ stage3 }}
				  {% elif player.stage == 4 %}{{ stage4 }}
				  {% endif %}
			</h2>
		</tr>
		<tr>
			<!-- Image representing the problem -->
			{% if player.stage == 0 %}
				<img id="problempic" src="{{stage0.pictureP.url}}" width="400" height="200"/>
			{% elif player.stage == 1 %}
				<img id="problempic" src="{{stage1.pictureP.url}}" width="400" height="200"/>
			{% elif player.stage == 2 %}
				<img id="problempic" src="{{stage2.pictureP.url}}" width="400" height="200"/>
			{% elif player.stage == 3 %}
				<img id="problempic" src="{{stage3.pictureP.url}}" width="400" height="200"/>
			{% elif player.stage == 4 %}
				<img id="problempic" src="{{stage4.pictureP.url}}" width="400" height="200"/>
			{% endif %}
		</tr>
		<br>
		<tr>
			<!-- Table containing the coping choices and their associated images -->
			<table id="coping" align="center">
				<!-- Width of the three columns -->
				<col width="400"/>
				<col width="400"/>
				<col width="400"/>	
				<tr id="handle">
					<td colspan="3">How To Handle This Problem?</td>
				</tr>
				<tr id="techniques">
					<!-- Text associated with the solution -->
					{% if player.stage == 0 %}
						{% for sol in stage0.solutions.all %}
							<td>{{sol.solution}}</td>
						{% endfor %}
					{% elif player.stage == 1 %}
						{% for sol in stage1.solutions.all %}
							<td>{{sol.solution}}</td>
						{% endfor %}
					{% elif player.stage == 2 %}
						{% for sol in stage2.solutions.all %}
							<td>{{sol.solution}}</td>
						{% endfor %}
					{% elif player.stage == 3 %}
						{% for sol in stage3.solutions.all %}
							<td>{{sol.solution}}</td>
						{% endfor %}
					{% elif player.stage == 4 %}
						{% for sol in stage4.solutions.all %}
							<td>{{sol.solution}}</td>
						{% endfor %}
					{% endif %}		
				</tr>
				<tr>
					<!-- Solution's picture -->		
					{% if player.stage == 0 %}
						{% for sol in stage0.solutions.all %}
							<td><img id="problempic" src="{{sol.pictureS.url}}" width="225" height="225"></td>
						{% endfor %}
					{% elif player.stage == 1 %}
						{% for sol in stage1.solutions.all %}
							<td><img id="problempic" src="{{sol.pictureS.url}}" width="225" height="225"></td>
						{% endfor %}
					{% elif player.stage == 2 %}
						{% for sol in stage2.solutions.all %}
							<td><img id="problempic" src="{{sol.pictureS.url}}" width="225" height="225"></td>
						{% endfor %}
					{% elif player.stage == 3 %}
						{% for sol in stage3.solutions.all %}
							<td><img id="problempic" src="{{sol.pictureS.url}}" width="225" height="225"></td>
						{% endfor %}
					{% elif player.stage == 4 %}
						{% for sol in stage4.solutions.all %}
							<td><img id="problempic" src="{{sol.pictureS.url}}" width="225" height="225"></td>
						{% endfor %}
					{% endif %}
				</tr>
				
				
				<!--Show how many tokens the player has earned-->	
				<tr>
				<div>
				<form action="" method="post">
				{% csrf_token %}
					{% if player.stage == 0 %}
						{% for s in stage0.solutions.all %}
							<td>
								<div id="answerDiv">
									<!-- Button to open pop-up -->
									<a class="button" href="#openModal" style="text-decoration:none">Choose me!</a>
								
									<!-- Tokens pop-up -->
									<div id="openModal" class="modalDialog">
										<div style="background:{{player.fav_bg}}; background: -moz-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -webkit-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -o-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }});">
											<h2 style="color:{{ player.fav_text }}">Great Choice!</h2>
											<p>You earned {{ tokens0 }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</p>
											<input type="submit" href="#close" title="Close" class="close" value="X"></input>
										</div>
									</div>
								</div>							
							</td>
						{% endfor %}
					{% elif player.stage == 1 %}
						{% for s in stage1.solutions.all %}
							<td>
								<div>
									<!-- Button to open pop-up -->
									<a class="button" href="#openModal1" style="text-decoration:none">Choose me!</a>
								
									<!-- Tokens pop-up -->
									<div id="openModal1" class="modalDialog">
										<div style="background:{{player.fav_bg}}; background: -moz-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -webkit-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -o-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }});">
											<h2 style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">Perfect!</h2>
											<p>You earned {{ tokens1 }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</p>
											<input type="submit" href="#close" title="Close" class="close" value="X"></input>
										</div>
									</div>
								</div>							
							</td>
						{% endfor %}
					{% elif player.stage == 2 %}
						{% for s in stage2.solutions.all %}
							<td>
								<div>
									<!-- Button to open pop-up -->
									<a class="button" href="#openModal2" style="text-decoration:none">Choose me!</a>
								
									<!-- Tokens pop-up -->
									<div id="openModal2" class="modalDialog">
										<div style="background:{{player.fav_bg}}; background: -moz-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -webkit-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -o-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }});">
											<h2 style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">Awesome!</h2>
											<p>You earned {{ tokens2 }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</p>
											<input type="submit" href="#close" title="Close" class="close" value="X"></input>
										</div>
									</div>
								</div>							
							</td>
						{% endfor %}
					{% elif player.stage == 3 %}
						{% for s in stage3.solutions.all %}
							<td>
							<div>
								<!-- Button to open pop-up -->
								<a class="button" href="#openModal3" style="text-decoration:none">Choose me!</a>
								
								<!-- Tokens pop-up -->
								<div id="openModal3" class="modalDialog">
									<div style="background:{{player.fav_bg}}; background: -moz-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -webkit-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -o-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }});">
										<h2 style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">Good Answer!</h2>
										<p>You earned {{ tokens3 }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</p>
										<input type="submit" href="#close" title="Close" class="close" value="X"></input>
									</div>
								</div>
								</div>
							
							</td>
						{% endfor %}
					{% elif player.stage == 4 %}
						{% for s in stage4.solutions.all %}
							<td>
							<div>
								<!-- Button to open pop-up -->
								<a class="button" href="#openModal4" style="text-decoration:none">Choose me!</a>
								
								<!-- Tokens pop-up -->
								<div id="openModal4" class="modalDialog">
									<div style="background:{{player.fav_bg}}; background: -moz-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -webkit-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }}); background: -o-linear-gradient({{player.fav_bg}} 80%, {{ player.fav_text }});">
										<h2 style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">Well Done!</h2>
										<p>You earned {{ tokens4 }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</p>
										<input type="submit" href="#close" title="Close" class="close" value="X"></input>
									</div>
								</div>
								</div>
							
							</td>
						{% endfor %}
					{% endif %}
				</form>
				</tr>
			</table>
		</tr>
		<tr>
			<!-- A picture of DDRC's logo -->
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5"></a>
		</tr>
	</table>
</body>
</html>