<!DOCTYPE html>

<!-- A prototype game page - Tim -->

{% load staticfiles %}
<html>
<head>

	<!-- Title the page and link the style sheet -->
	<title>Game Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_game_page.css' %}" />
	
</head>

<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">

	<!-- A picture of DDRC's logo -->
	<img src="{% static 'CopingGame/images/logo.jpg' %}" alt="ddrcco.com" width="225" height="106.5"></a>

	<!-- Table that has the user avatar, user name, and their tokens -->
	<table id="usertable" align="right" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<td rowspan="2" colspan="2"><img src="http://www.clipartbest.com/cliparts/dir/La9/dirLa9ri9.jpeg" width="120" height="90" alt="HTML Dog"></td>
			<td>
			{% if user.is_authenticated %}
				<!-- user information -->
				<li>{{ user.get_username }}</li>
				<li>Tokens: {{ player.points }}</li>
				<li><a href="/logout/" style="color:{{ player.fav_text }}">Logout</li>
			{% else %}
				Not currently logged in, please log in.
			{% endif %}</td>
		</tr>
	</table>
	
	<br>

	<!-- What is the current scenario and problem -->
	<h1>Scenario - {{ scene.title }}</h1>
	<h2>Problem - {% if player.stage == 0 %}{{ stage1 }}
				  {% elif player.stage == 1 %}{{ stage2 }}
				  {% elif player.stage == 2 %}{{ stage3 }}
				  {% elif player.stage == 3 %}{{ stage4 }}
				  {% elif player.stage == 4 %}{{ stage5 }}
				  {% endif %}</h2>
	
	<!-- Image representing the problem -->
<!-- WILL NEED FOR FINAL PRODUCT, needs pictures in the DB first	
	{% if player.stage == 0 %}
		<img id="problempic" src="{{stage1.picureP.url}}" width="400" height="200">
	{% elif player.stage == 1 %}
		<img id="problempic" src="{{stage2.picureP.url}}" width="400" height="200">
	{% elif player.stage == 2 %}
		<img id="problempic" src="{{stage3.picureP.url}}" width="400" height="200">
	{% elif player.stage == 3 %}
		<img id="problempic" src="{{stage4.picureP.url}}" width="400" height="200">
	{% elif player.stage == 4 %}
		<img id="problempic" src="{{stage5.picureP.url}}" width="400" height="200">
	{% endif %}
	-->
<!-- temp fix for prototype  -->	
 	{% if player.stage == 0 %}
		<img src="{% static 'CopingGame/images/television1.jpg' %}" width="500" height="300">
	{% elif player.stage == 1 %}
		<img src="{% static 'CopingGame/images/tvshow.png' %}" width="500" height="300">
	{% endif %}
	<br>
	
	<!-- Table containing the coping choices and their associated images -->
	<table id="coping" align="center">
		<!-- Width of the three columns -->
		<col width="400">
		<col width="400">
		<col width="400">
	
		<tr id="handle">
			<td colspan="3">How To Handle This Problem?</td>
		</tr>
		
		<tr id="techniques">
		{% if player.stage == 0 %}
			{% for sol in stage1.solutions.all %}
				<td>{{sol.solution}}</td>
			{% endfor %}
		{% elif player.stage == 1 %}{{ stage2 }}
			{% for sol in stage2.solutions.all %}
				<td>{{sol.solution}}</td>
			{% endfor %}
		{% elif player.stage == 2 %}{{ stage3 }}
			{% for sol in stage3.solutions.all %}
				<td>{{sol.solution}}</td>
			{% endfor %}
		{% elif player.stage == 3 %}{{ stage4 }}
			{% for sol in stage4.solutions.all %}
				<td>{{sol.solution}}</td>
			{% endfor %}
		{% elif player.stage == 4 %}{{ stage5 }}
			{% for sol in stage5.solutions.all %}
				<td>{{sol.solution}}</td>
			{% endfor %}
	{% endif %}
		
		</tr>
		
		<tr>
	<!-- WILL NEED FOR FINAL PRODUCT, needs pictures in the DB first		
		{% if player.stage == 0 %}
			{% for sol in stage1.solutions.all %}
				<td><img id="problempic" src="{{sol.picureS.url}}" width="65" height="65"></td>
			{% endfor %}
		{% elif player.stage == 1 %}
			{% for sol in stage2.solutions.all %}
				<td><img id="problempic" src="{{sol.picureS.url}}" width="65" height="65"></td>
			{% endfor %}
		{% elif player.stage == 2 %}
			{% for sol in stage3.solutions.all %}
				<td><img id="problempic" src="{{sol.picureS.url}}" width="65" height="65"></td>
			{% endfor %}
		{% elif player.stage == 3 %}
			{% for sol in stage4.solutions.all %}
				<td><img id="problempic" src="{{sol.picureS.url}}" width="65" height="65"></td>
			{% endfor %}
		{% elif player.stage == 4 %}
			{% for sol in stage5.solutions.all %}
				<td><img id="problempic" src="{{sol.picureS.url}}" width="65" height="65"></td>
			{% endfor %}
		{% endif %}
	-->	{% if player.stage == 0 %}
			<td><img src="{% static 'CopingGame/images/walk.jpg' %}" width="250" height="250"></td>
			<td><img src="{% static 'CopingGame/images/music.jpg' %}" width="250" height="250"></td>
			<td><img src="{% static 'CopingGame/images/read.gif' %}" width="250" height="250"></td>
		{% elif player.stage == 1 %}
			<td><img src="{% static 'CopingGame/images/walk.jpg' %}" width="250" height="250"></td>
			<td><img src="{% static 'CopingGame/images/breath.jpg' %}" width="250" height="250"></td>
			<td><img src="{% static 'CopingGame/images/tv.jpg' %}" width="250" height="250"></td>
		{% endif %}
		
		</tr>
		
		<tr>
			<form action="" method="post">
			{% csrf_token %}
			{% if player.stage == 0 %}
				{% for s in stage1.solutions.all %}
					<td><button type="submit">Select</button></td>
				{% endfor %}
			{% elif player.stage == 1 %}
				{% for s in stage2.solutions.all %}
					<td><button type="submit">Select</button></td>
				{% endfor %}
			{% elif player.stage == 2 %}
				{% for s in stage3.solutions.all %}
					<td><button type="submit">Select</button></td>
				{% endfor %}
			{% elif player.stage == 3 %}
				{% for s in stage4.solutions.all %}
					<td><button type="submit">Select</button></td>
				{% endfor %}
			{% elif player.stage == 4 %}
				{% for s in stage5.solutions.all %}
					<td><button type="submit">Select</button></td>
				{% endfor %}
			{% endif %}
			
			</form>
		</tr>
	</table>
	
</body>
</html>