<!DOCTYPE html>

<!-- Quick page by Greg -->
{% load staticfiles %}
<html>
<body>
	<!-- Table that will have the user profile once logged in -->
	<table id="usertable" align="right">
		<tr>
			<td rowspan="2" colspan="2"><img src="http://www.clipartbest.com/cliparts/dir/La9/dirLa9ri9.jpeg" width="120" height="90" alt="HTML Dog"></td>
			<td>
			{% if user.is_authenticated %}
				<!-- user information -->
				<li>{{ user.get_username }}</li>
				<li>Tokens: {{ player.points }}</li>
				<li><a href="/logout/">Logout</li>
			{% else %}
				Not currently logged in, please log in.
			{% endif %}</td>	
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	<br>
	
	<!-- The Header -->
	<h1>How to play</h1>
	<br>
	<li>Once logged in, click the "Play a Scenario" link to choose from the available scenarios.</li>
	
 </body>
 </html>  