<!DOCTYPE html>

<!-- Quick page by Greg -->
{% load staticfiles %}
<html>
<head>
	<title>Help Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_home_page.css' %}" />
</head>
<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that will have the user profile once logged in -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
					{% if user.is_authenticated %}
						<!-- user information -->
						{{ user.get_username }}
						<br>
						<img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>: {{ player.tokens }}
						{% if user.is_superuser %}
							<br>
							<a href="/admin/" style="color:{{ player.fav_text }}">Admin Page</a>
						{% endif %}
						<br>
						<a href="/logout/" style="color:{{ player.fav_text }}">Logout</a>
					{% else %}
						Not currently logged in, please log in.
					{% endif %}
					</td>
				</tr>		
				<tr>
					<td></td>
				</tr>
			</table>
		</tr>
		<br>
		<tr>
			<div id="links" align="center">
			<table style="width:100%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
				<!-- The button to return to the home page -->
				<tr align="center">
					<td align="center"><a href="/CopingGame/" style="text-decoration: none">
					<img class="link" src="{% static 'CopingGame/images/home1.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
					</a></td>
					<td align="center"><a href="/CopingGame/scenarios/" style="text-decoration: none">
					<img class="link" src="{% static 'CopingGame/images/play2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
					</a></td>
					<td align="center"><a href="/CopingGame/profile/" style="text-decoration: none">
					<img class="link" src="{% static 'CopingGame/images/profile2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
					</a></td>
					<td align="center"><a href="/CopingGame/store_themes/" style="text-decoration: none">
					<img class="link" src="{% static 'CopingGame/images/store4.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
					</a></td>
				</tr>
				<tr>
					<td align="center">Home Page</td>
					<td align="center">Play a Scenario</td>
					<td align="center">Profile Page</td>
					<td align="center">Store Page</td>
				</tr>
			</table>
			</div>
		</tr>
		<tr>
			<!-- The Header -->
			<h1>How to play</h1>
		</tr>
		<tr>
			<p align="center">Once logged in, click the "Play a Scenario" to choose from the available scenarios.</p>
		</tr>
		<tr>
			<p align="center">Select the scenario you wish to play and then chose a solution for each problem.</p>
		</tr>
		<tr>	
			<p align="center">Solving each problem rewards a token, which you may use to redeem prizes at the store!</p>
		</tr>
		<br>
		<tr>
			<p align="center">To visit the store, click on the store page button.</p>
		</tr>
		<tr>	
			<p align="center">Once in the store, select from a category and then chose the item you want to buy!</p>
		</tr>
		<tr>	
			<p align="center">Once purchased, you can switch between themes or user pictures in the store page by clicking the paint brush picture.</p>
		</tr>
		<br>
		<tr>	
			<p align="center">You can also switch between purchased themes and user pictures in the profile page.</p>
		</tr>
		<tr>	
			<p align="center">From the profile page you can also change the font size, and also upload a picture from your device!</p>
		</tr>
		<br>
		<tr>	
			<p align="center">To navigate to a page you want to go to, click on the button of your choice near the top of the screen.</p>
		</tr>
		<tr>	
			<p align="center">In order to log out of the game when finished, press the logout button in the top of your screen.</p>
		</tr>
		<br>
		<tr>
			<!-- A picture of DDRC's logo -->
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5"></a>
		</tr>
	</table>
 </body>
 </html>  