<!DOCTYPE html>

<!-- Another prototype home page -->
{% load staticfiles %}
<html>
<head>
	<!-- The title of the page and a link to the style sheet -->
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_home_page.css' %}" />
</head>
<body align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that has the user's profile when logged in -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<!-- user picture -->
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
						{% if user.is_authenticated %}
							<!-- user information -->
							<li>{{ user.get_username }}</li>
							<li>Tokens: {{ player.tokens }}</li>
							<li><a href="/logout/" style="color:{{ player.fav_text }}">Logout</li>
						{% else %}
							Not currently logged in, please log in.
						{% endif %}
					</td>
				</tr>
			</table>
		</tr>
		<tr>
			<!-- The Header -->
			<h1>Welcome to the Coping Skills Game!</h1>
		</tr>
		<tr>
			<p align ="center" style ="text-align:center;color:{{ player.fav_text }}">General Information: <br>This game is a fun way to learn how to cope with difficult situations encountered in everyday life.</p>
		</tr>
		<tr>
		<center>
			<td align="center">
				<!-- The button to go to the list of scenarios -->
				<a align="center" href="/CopingGame/scenarios/">
				<img align="center" src="{% static 'CopingGame/images/play2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a>
				<p align="center">Play a Scenario!</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<!-- The button to go to the profile page -->
				<a align="center" href="/CopingGame/profile/">
				<img align="center" src="{% static 'CopingGame/images/profile2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a>
				<p align="center">View Profile.</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<!-- The button to go to the store page -->
				<a align="center" href="/CopingGame/store/">
				<img align="center" src="{% static 'CopingGame/images/store4.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a>
				<p align="center">Visit the Store.</p>
			</td>
		</tr>
		<tr>
			<td align="center">
				<!-- The button to go to the help page -->
				<a align="center" href="/CopingGame/help/">
				<img align="center" src="{% static 'CopingGame/images/help5.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a>
				<p align="center">Help Page.</p>
			</td>
		</tr>	
		</center>
		<tr>
			<!-- A picture of DDRC's logo -->
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5"></a>
		</tr>
	</table>
 </body>

 </html>  