<!DOCTYPE html>

<!-- Another prototype home page - Steve -->
{% load staticfiles %}
<html>
<head>
	<!-- The title of the page and a link to the style sheet -->
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="% static 'CopingGame/style_home_page.css' %}" />

</head>

<body>

	<!-- A link to ddrc's website in a new tab by using their logo -->
	<a href="http://www.ddrcco.com/" target="_blank"><img src="% static 'CopingGame/images/logo.jpg' %}" alt="ddrcco.com" width="225" height="106.5"></a>

	<!-- Table that will have the user profile once logged in -->

	<table id="usertable" align="right">
		<tr>
			<!-- user picture -->
			<td rowspan="2" colspan="2"><img src="http://www.clipartbest.com/cliparts/dir/La9/dirLa9ri9.jpeg" width="120" height="90" alt="HTML Dog"></td>
			<td>
			{% if user.is_authenticated %}
				<!-- user information -->
				<li>{{ user.get_username }}</li>
				<li>Tokens: {{ user.get_points }}</li>
				<li><a href="/logout/">Logout</li>
			{% else %}
				Not currently logged in, please log in.
			{% endif %}</td>		
		</tr>		
		<tr>
			<td></td>
		</tr>
	</table>
	
	<br>
	
	<!-- The Header -->
	<h1>Welcome to the Coping Skills Game!</h1>
	<h2>
	
	</h2>	
	
	<!-- Here is some general information about the game -->
	<br><br><br>
	
	<p style ="text-align:center;color:#306565">General Information: <br>This game is a fun way to learn how to cope with difficult situations encountered in everyday life.</p>
	
	<br>
	<li><a href="/CopingGame/scenarios/">Play A Scenario.</a></li>
	<li><a href="/CopingGame/store/">Visit Store.</a></li>
	<li><a href="/CopingGame/help/">Help Page.</a></li>

	<p style ="text-align:center;color:#4c3365;font-size:200%">Sign in to play the game and be able go to the store!</p>

 </body>

 </html>  