<!DOCTYPE html>

<!-- Profile page by Greg and Tim -->
{% load staticfiles %}
<html>
<head>
	<title>{{ user.get_username }}'s Profile Page</title>
	<script>
	{% if messages %}
		{% for message in messages %}
			alert(message);
		{% endfor %}
	{% endif %}
	{% if profileForm.errors %}
		{% for field in form %}
			{% for error in field.errors %}
				<div class="alert alert-error">
					<strong>{{ error|escape }}</strong>
				</div>
			{% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
			<div class="alert alert-error">
				<strong>{{ error|escape }}</strong>
			</div>
		{% endfor %}
	{% endif %}
	</script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_profile_page.css' %}" />
<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that has the user avatar, user name, and their tokens -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
					{% if user.is_authenticated %}
						<!-- user information -->
						{{ user.get_username }}
						<br>
						<img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>: {{ player.tokens }}
						{% if user.is_superuser %}
							<br>
							<a href="/admin/" style="color:{{ player.fav_text }}">Admin Page</a>
						{% endif %}
						<br>
						<a href="/logout/" style="color:{{ player.fav_text }}">Logout</a>
					{% else %}
						Not currently logged in, please log in.
					{% endif %}
					</td>
				</tr>
			</table>
		</tr>
		
		<br>
		
		<tr>
			<div id="links" align="center">
			<table style="width:100%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
			<!-- The button to return to the home page -->
			<tr align="center">
				<td align="center"><a href="/CopingGame/" style="text-decoration: none">
				<img class="link" src="{% static 'CopingGame/images/home1.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/scenarios/" style="text-decoration: none">
				<img class="link" src="{% static 'CopingGame/images/play2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/store_themes/" style="text-decoration: none">
				<img class="link" src="{% static 'CopingGame/images/store4.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/help/" style="text-decoration: none">
				<img class="link" src="{% static 'CopingGame/images/help5.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
			</tr>
			<tr>
				<td align="center">Home Page</td>
				<td align="center">Play a Scenario</td>
				<td align="center">Store Page</td>
				<td align="center">Help Page</td>
			</tr>
			</table>
			</div>
		</tr>
		
		<tr>
			<!-- The Header -->
			<h1>{{ user.get_username }}'s Profile</h1>
		</tr>
		
		<tr>
			<!-- PLAYER TOKENS -->
			<center>
			<td align="center">You've earned a total of {{ player.tokens }} <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>!</td>
			</center>
		</tr>
		<tr>
		<br>
		</tr>
		<tr>
		<table id="contentTable" class="t1" style="float:center-right" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<thead>
		<tr><th align="left" style="text-decoration:underline">Change Text Size</th><th align="left" style="text-decoration:underline">Upload a Player Picture</th>
		</thead>
		<tbody>
		<col style="width:50%">
		<col style="width:50%">
			<tr>
				<td><!-- Change Font Size -->
					<!--<p>Change text size here:</p>-->
					<form id="textSizeOption" action="/CopingGame/profile/" method="post">
						{% csrf_token %}
						<div>
							<button name="smallFont" type="submit" value="{{ purchase.itemFKey.itemName }}"><img src="{% static 'CopingGame/images/paint1.png' %}" height="25px" width="30px" border="0" /></button>
							<font size="5">Preview
						</div>
						<div>
							<button name="mediumFont" type="submit" value="{{ purchase.itemFKey.itemName }}"><img src="{% static 'CopingGame/images/paint1.png' %}" height="25px" width="30px" border="0" /></button>
							<font size="6">Preview
						</div>
						<div>
							<button name="largeFont" type="submit" value="{{ purchase.itemFKey.itemName }}"><img src="{% static 'CopingGame/images/paint1.png' %}" height="25px" width="30px" border="0" /></button>
							<font size="7">Preview
						</div>
					</form>
					<font size="{{ player.text_size }}">
				</td>
				<td><!-- UPLOAD PICTURE -->
				Change your profile picture here:
				<form id="profilePicture" action="/CopingGame/profile/" method="post" enctype="multipart/form-data">
					{% csrf_token %}
				
					{{ profileForm.as_p }}
					<div><input type="submit" value="Upload" name="upload"/></div>
				</form>
				</td>
			</tr>
		</tbody>
		</table>
		</tr>
		<br>
		<tr>
			<!-- PLAYER PURCHASES -->
			<p align="center" style="text-decoration:underline"><b>Here is a list of your total purchases</b><p>
		</tr>
		<tr>
			<form action="" method="post">
			{% csrf_token %}
			
			{% if purchase_list %}
				<table align="center">
				
					<!-- Themes the player owns -->
					<tr>
						<td colspan="2" align="left"><b>Themes Owned:</b></td>
					</tr>	
					{% for purchase in purchase_list %}
						{% if purchase.itemFKey.category == "Themes" %}
							<!-- Button to switch theme, and display a preview of the theme next to the button -->
							<tr>
								<td align="center"><button name="theme" type="sumbit" value="{{ purchase.itemFKey.itemName }}"/><img src="{% static 'CopingGame/images/paint1.png' %}" height="25px" width="30px" border="0" /></button></td>
								<td style="background-color:{{ purchase.itemFKey.bg }}; color:{{ purchase.itemFKey.text }}">{{ purchase.itemFKey.itemDesc }}</a></td>
							</tr>
						{% endif %}
					{% endfor %}
		
					<!-- Blank row between themes and pictures -->
					<tr height="30px">
					</tr>
		
					<!-- Pictures the player owns -->
					<tr>
						<td colspan="2" align="left"><b>Pictures Owned:</b></td>
					</tr>
					{% for purchase in purchase_list %}
						{% if purchase.itemFKey.category == "Pictures" %}
							<!-- Button to switch picture, and display the picture they own next to the button -->
							<tr>
								<td align="center"><button name="picture" type="submit" value="{{ purchase.itemFKey.itemPicture.url }}"><img src="{% static 'CopingGame/images/paint1.png' %}" height="25px" width="30px" border="0" /></button></td>
								<td><img src="{{ purchase.itemFKey.itemPicture.url }}" style="width:100px;height:100px;border:0"></td>
							</tr>
						{% endif %}
					{% endfor %}
				</table>
			</tr>
			<br>
			<!-- Should never display since the player will have default background and default user picture from the start -->
			{% else %}
				<p>You haven't purchased any items yet.</p>
			{% endif %}
			
			</br>
			
			</form>
		</tr>
		<tr>
		<!-- A picture of DDRC's logo -->
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5"></a>
		</tr>	
	</table>
</body>
 </html>  