<!-- A prototype store page - Tim -->

{% load staticfiles %}

<html>
<head>

	<!-- Title the page and link the style sheet and javascript -->
	<title>Store Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_store_page.css' %}">
	<script type="text/javascript" src="{% static 'CopingGame/store_page.js' %}"></script>
	
</head>

<body>

	<!-- A link to ddrc's website in a new tab by using their logo -->
	<img src="{% static 'CopingGame/images/logo.jpg' %}" alt="ddrcco.com" width="225" height="106.5"></a>

	<!-- Table that has the user avatar, user name, and their tokens -->
	<table id="usertable" align="right">
		<tr>
			<!-- user picture -->
			<td rowspan="2" colspan="2"><img src="http://www.clipartbest.com/cliparts/dir/La9/dirLa9ri9.jpeg" width="120" height="90" alt="HTML Dog"></td>
			<td>
			{% if user.is_authenticated %}
				<!-- user information -->
				<li>{{ user.get_username }}</li>
				<li>Tokens: {{ user.get_points }}</li>
				<li><a href="/logout/">Logout</li>
			{% else %}
				Not currently logged in, please log in.
			{% endif %}</td>		
		</tr>		
		<tr>
			<td></td>
		</tr>
	</table>
	
	<br><br>
	<FORM align="center">
		<INPUT Type="BUTTON" VALUE="Back to Index Page" style="height:5%; width:10%" ONCLICK="window.location.href='/CopingGame/'"> 
	</FORM>
	<br>

	<h1>Welcome to the Store</h1>
	
	<!-- Category button's on the left -->
	<div id="categories">
		<h3>CATEGORIES</h3>
		<ul id="catul">
			<li id="catli"><button class="catbutton" id="bgc"    onclick="chkbtn(this, bgcolors)"   onmouseover="overbtn(this)" onmouseout="outbtn(this)">Background Colors</button></li>
			<li id="catli"><button class="catbutton" id="tc"     onclick="chkbtn(this, textcolors)" onmouseover="overbtn(this)" onmouseout="outbtn(this)">Text Colors</button></li>
			<li id="catli"><button class="catbutton" id="up"     onclick="chkbtn(this, userpics)"   onmouseover="overbtn(this)" onmouseout="outbtn(this)">User Pictures</button></li>
			<li id="catli"><button class="catbutton" id="theme"  onclick="chkbtn(this, themes)"     onmouseover="overbtn(this)" onmouseout="outbtn(this)">Themes</button></li>
		</ul>
	</div>
	
	<!-- Main portion of the page that displays purchase options -->
	<div id="main">
		<div id="inner">
			<h2>Click on the "Purchase" button to buy the item to its left.<h2>

			<!-- Background Colors table -->
			<table class="cattable" id="bgcolors" align="center">
				
				<col width="250">
				
				<tr>
					<td colspan="3" style="text-decoration:underline">Background Colors - 25 Tokens Each</td>
				</tr>
				
				
				<tr>
					<td bgcolor="red"></td>
					<td>Red</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td bgcolor="blue"></td>
					<td>Blue</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td bgcolor="green"></td>
					<td>Green</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td bgcolor="yellow"></td>
					<td>Yellow</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td bgcolor="gray"></td>
					<td>Gray</td>
					<td><button type="button">Purchase</button></td>
				</tr>
			</table>
			
			<!-- Text Colors table -->
			<table class="cattable" id="textcolors" align="center">
		
				<tr>
					<td colspan="3" style="text-decoration:underline">Text Colors - 25 Tokens Each</td>
				</tr>
		
				<tr>
					<td>Text Preview:</td>
					<td style="color:red">Red</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td>Text Preview:</td>
					<td style="color:blue">Blue</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td>Text Preview:</td>
					<td style="color:green">Green</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td>Text Preview:</td>
					<td style="color:yellow">Yellow</td>
					<td><button type="button">Purchase</button></td>
				</tr>
		
				<tr>
					<td>Text Preview:</td>
					<td style="color:gray">Gray</td>
					<td><button type="button">Purchase</button></td>
				</tr>
			</table>
			
			<!-- User Pictures table -->
			<table class="cattable" id="userpics" align="center">
		
				<tr>
					<td colspan="2" style="text-decoration:underline">User Pictures - 50 Tokens Each</td>
				</tr>
		
				<tr>
					<td><img src="http://www.cityoflisbon-ia.gov/vertical/Sites/%7B8CDB492E-92D0-4DDE-9EFE-DF15166CB27B%7D/uploads/tree21.gif" width="120" height="90"></td>
					<td><button type="button">Purchase</button></td>
				</tr>
				
				<tr>
					<td><img src="http://healingtheworldthroughmusic.com/wp-content/uploads/2013/09/PBI-Music-Note.jpg" width="120" height="90"></td>
					<td><button type="button">Purchase</button></td>
				</tr>
				
				<tr>
					<td><img src="http://www.bradleysbookoutlet.com/wp-content/uploads/2013/06/bradleys-book-outlet-books-only-logo.png" width="120" height="90"></td>
					<td><button type="button">Purchase</button></td>
				</tr>
			</table>
			
			<!-- Themes table -->
			<table class="cattable" id="themes" align="center">
		
				<tr>
					<td colspan="2" style="text-decoration:underline">Themes - 50 Tokens Each</td>
				</tr>
		
				<tr>
					<td bgcolor="blue" style="color:white">PREVIEW</td>
					<td><button type="button">Purchase</button></td>
				</tr>
				
				<tr>
					<td bgcolor="firebrick" style="color:cornsilk">PREVIEW</td>
					<td><button type="button">Purchase</button></td>
				</tr>
				
				<tr>
					<td bgcolor="yellow" style="color:purple">PREVIEW</td>
					<td><button type="button">Purchase</button></td>
				</tr>
				
				<tr>
					<td bgcolor="black" style="color:orange">PREVIEW</td>
					<td><button type="button">Purchase</button></td>
				</tr>
			</table>
			
		</div>
	</div>
	
</body>
</html>