<!DOCTYPE html>

<!-- Store page for user pictures by Tim -->
{% load staticfiles %}

<html>
<head>
	<!-- Title the page and link the style sheet -->
	<title>Store User Pictures Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_store_page.css' %}">
<head>

<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}"> <!-- Load players theme for page -->
<font size="{{ player.text_size }}">

	<!-- Page in a table so it can scale to any screen without much issue -->
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that has the user avatar, user name, and their tokens -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
					{% if user.is_authenticated %}
						<!-- user information -->
						{{ user.get_username }}
						<br>
						<img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>: {{ player.tokens }}
						<br>
						<a href="/logout/" style="color:{{ player.fav_text }}">Logout
					{% else %}
						Not currently logged in, please log in.
					{% endif %}</td>
				</tr>		
				<tr>
					<td></td>
				</tr>
			</table>
		</tr>
		
		</br>
		
		<!-- Page banner -->
		<tr>
			<h1>Welcome to the Store</h1>
		</tr>
		
		<!-- Links to Home, Help, and Profile pages -->
		<tr>
			<div id="links" align="center">
			<table style="width:100%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
			<!-- The buttons go to the home page, profile page, or help page -->
			<tr align="center">
				<td align="center"><a href="/CopingGame/scenarios/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/play2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/home1.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/profile/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/profile2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/help/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/help5.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
			</tr>
			<tr>
				<td align="center">Play a Scenario</td>
				<td align="center">Home Page</td>
				<td align="center">Profile Page</td>
				<td align="center">Help Page</td>
			</tr>
			</table>
			</div>
		</tr>
		
		<!-- Categories and Purchase areas -->
		<tr>
			<!-- Category button's on the left -->
			<div id="categories">
				<div style="text-decoration: underline" align="center">CATEGORIES</div>
					<ul id="catul">
					<li id="catli"><a href="/CopingGame/store_themes"><button class="other" id="theme">Themes</button></a></li>
					<li id="catli"><button class="current" id="up">User Pictures</button></li>
				</ul>
			</div>
	
			<!-- Main portion of the page that displays purchase options -->
			<div id="main">
				<div id="inner">
					<h2 style="color:{{ player.fav_text }}">Click on the "Purchase" button to buy the picture to its left.</h2>
					<h2 style="color:{{ player.fav_text }}">Click on the "Apply" button to use the picture you own to its left.</h2>

					<!-- Themes table -->
					<table class="cattable" id="themes" align="center">
						<tr>
							<td colspan="2" style="text-decoration:underline;color:{{ player.fav_text }}">User Pictures - 50 <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/> Each</td>
						</tr>
				
						<!-- Make list of all pictures -->
						{% for picture in picture_list %}
							<!-- Make a row for each picture -->
							<tr>
								<!-- Have a preview of the picture in the left column -->
								<td><img src="{{ picture.itemFKey.itemPicture.url }}" style="width:100px;height:100px;border:0"></td>
								
								<!-- See if the player owns the picture -->
								{% if picture.owned == True %}
									<!-- Display apply button since they own the picture-->
									<form action="" method="post">
										{% csrf_token %}
										<td><button type="submit" name="change" value="{{ picture.itemFKey.itemName }}">Apply</button></td>
									</form>
											
								<!-- If this is reached, then they don't own the item -->
								{% else %}
									<!-- See if they have enough tokens for the item -->
									{% if player.tokens >= 50 %}
										<!-- Display purchase button -->
										<form action="" method="post">
											{% csrf_token %}
											<td><button type="submit" name="buy" value="{{ picture.itemFKey.itemName }}">Purchase</button></td>
										</form>
								
									<!-- If they don't have enough tokens, say they don't -->
									{% else %}
										<td style="color:{{ player.fav_text }}">Not enough <img align="center" src="{% static 'CopingGame/images/thumb-token-sm.png' %}" width="50" height="50"/>.</td>
									{% endif %}
								{% endif %}
								</tr>
						{% endfor %}
					</table>			
				</div>
			</div>
		</tr>
		
		<tr>
			<!-- A picture of DDRC's logo -->
			<div align="center">
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5">
			</div>
		</tr>
	</table>

</body>
</html>