<!DOCTYPE html>

<!-- Another prototype home page -->
{% load staticfiles %}
<html>
<head>
	<!-- The title of the page and a link to the style sheet -->
	<title>Great Job!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/game_page.css' %}" />
</head>
<body align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- The Header -->
			<h1>Way to go!</h1>
		</tr>
		<tr>
			<p>You earned {{ player.temp_tokens }} tokens!
		</tr>
	</table>
 </body>

 </html>  