<!DOCTYPE html>

<!-- Quick page by Greg -->
{% load staticfiles %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_home_page.css' %}" />
<body>
	<!-- Table that will have the user profile once logged in -->
	<table id="usertable" align="right">
		<tr>
			<td rowspan="2" colspan="2"><img src="http://www.clipartbest.com/cliparts/dir/La9/dirLa9ri9.jpeg" width="120" height="90" alt="HTML Dog"></td>
			<td>
			{% if user.is_authenticated %}
				<!-- user information -->
				<li>{{ user.get_username }}</li>
				<li>Tokens: {{ player.points }}</li>
				<li><a href="/logout/">Logout</li>
			{% else %}
				Not currently logged in, please log in.
			{% endif %}</td>	
		</tr>
		<tr>
			<td></td>
		</tr>
	</table>
	<br>
	
	<!-- The Header -->
	<h1>CONGRADULATIONS!</h1>
	<br>
	<li>You completed the scenario and solved all the problems!</li>
	<li>You've earned a total of {{player.points}}.</li>
	<br>
	<li><a href="/CopingGame/scenarios/">Back to scenario index.</a></li>
	<li><a href="/CopingGame/">Back to the homepage.</a></li>
 </body>
 </html>  