<!DOCTYPE html>

<!-- Quick page by Greg -->
{% load staticfiles %}
<html>
<head>
	<title>Victory!</title>
	<link rel="stylesheet" type="text/css" href="{% static 'CopingGame/style_home_page.css' %}" />
</head>
<body style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
<font size="{{ player.text_size }}">
	<table id="page" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
		<tr>
			<!-- Table that will have the user profile once logged in -->
			<table id="usertable" align="center" style="background-color:{{ player.fav_bg }}; color:{{ player.fav_text }}">
				<tr>
					<td rowspan="2" colspan="2"><img id="avatarPic" src="{{ player.avatarPic.url }}" width="120" height="90"></td>
					<td>
						{% if user.is_authenticated %}
							<!-- user information -->
							<li>{{ user.get_username }}</li>
							<li>Tokens: {{ player.tokens }}</li>
							<li><a href="/logout/" style="color:{{ player.fav_text }}">Logout</li>
						{% else %}
							Not currently logged in, please log in.
						{% endif %}
					</td>	
				</tr>
			</table>
		</tr>
		<br>
		<tr>
			<div id="links" align="center">
			<table style="width:100%">
				<col style "width:25%">
				<col style="width:25%">
				<col style="width:25%">
				<col style="width:25%">
			<!-- The button to return to the home page -->
			<tr align="center">
				<td align="center"><a href="/CopingGame/scenarios/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/play2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/home1.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/store/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/store4.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
				<td align="center"><a href="/CopingGame/profile/" style="text-decoration: none">
				<img src="{% static 'CopingGame/images/profile2.png' %}" style="width:100px;height:100px;border:0" style="color:{{ player.fav_text }}">
				</a></td>
			</tr>
			<tr>
				<td align="center">Play Another Scenario</td>
				<td align="center">Home Page</td>
				<td align="center">Store Page</td>
				<td align="center">Profile Page</td>
			</tr>
			</table>
			</div>
		</tr>
		<tr>
			<!-- The Header -->
		<h1>CONGRATULATIONS!</h1>
		</tr>
		<tr>
		<!-- CONGRATULATIONS Picture -->
		<!-- <img src="{% static 'CopingGame/images/victory.png' %}" width="400" height="200"/> -->
		</tr>
		<br>
		<tr>
			<p>You completed the scenario and solved all the problems!</p>
			<p>You've earned {{ player.temp_tokens }} tokens.</p>
		</tr>
		<br>
		<tr>
			<!-- A picture of DDRC's logo -->
			<img src="{% static 'CopingGame/images/logo2.png' %}" alt="ddrcco.com" width="225" height="106.5"></a>
		</tr>
	</table>
</body>
 </html>  