<!DOCTYPE html>

<!-- A prototype login page -->

{% load staticfiles %}

<html>
<head>

<!-- Possibly change to put in its own css file -->
<style type="text/css">
	h1 {color:#6d1d1c;}
</style>

	<!-- A picture of DDRC's logo -->
	<img src="{% static 'CopingGame/images/logo.jpg' %}" alt="ddrcco.com" width="225" height="106.5"></a>

	<!-- The title of the page and a link to the logged-in home page -->
	<h1 style="text-align:center;";>Coping Skills Game</h1>
	<link rel="stylesheet" href="style_login_page.css">
</head>
<body>


	<!-- The instructions and the fields for logging in -->
 	<h2 style="text-align:center"; color:"#4a6530";>Type in your username and password to log in.</h2>
	
	<!-- If no user -->
	{% if form.errors %}
		<p> Your username and/or password didn't match. Please try again.</p>
	{% endif %}
	
  	<form action="{% url 'django.contrib.auth.views.login' %}" method="post">
	{% csrf_token %}
	<table border="0" cellspacing="15" width="345" align="center">
		<tr>
			<td width="100">{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
		</tr>
		<tr>
			<td class="align-left">{{ form.password.label_tag }}</td>
			<td>{{ form.password }}</td>
		</tr>
		<tr><td><input type="submit" value ="login" align="center" /></td></tr>
		<tr><td><input type="hidden" name ="next" value="{{next}}" /></td></tr>
		<tr><td><a href="/register/">Create New Account!</a></td></tr>
	</table>
	</form>

</body>

</html> 