/* CSS style sheet for the prototype game page - Tim */

/* Style of the background and margins */
body {
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

/* Style of the "scenario" bar */
h1 {
    color: #ffc;
    background-color: #6d1d1c;
    /* font-size: 40px; */
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: bold;
    text-align: center;
    letter-spacing: 8px;
}

/* Style of the "problem" bar */
h2 {
	text-align: center;
	/*font-size: 32px;*/
	font-style: bold;
}

/* Style of the user table at the top of the page */
#usertable {
	background-color: ffc;
	border: 1px solid black;
}

/* Style of the pic associated with the problem */
#problempic {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Style of the table containing coping technique options */
#coping {
	text-align: center;
	/* font-size: 24px; */
}

/* Style of "How to handle this problem" row of the coping table */
#handle {
	height: 50px;
	/* font-size: 32px; */ 
}

/* Style of the coping technique options (text only) of the coping table */
#techniques {
	height: 40px;
	/* font-size: 20px; */
	font-style: italic;
}

/* Add blue background when hover over */
button:hover {
	background:DeepSkyBlue;
}

a:hover {
	background:DeepSkyBlue;
 }
