/* CSS style sheet for the prototype home page - Steve */

/* Style of the background and margins */
body {
    background-color: #ededed;
    margin: 20px;
    padding: 0;
}

/* Style of the "coping skills game" bar */
h1 {
    color: #ffc;
    background-color: #6d1d1c;
    font-size: 40px;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: bold;
    text-align: center;
    letter-spacing: 8px;
}

/* Style of the "you must log in" bar */
h2 {
    	color: #4a6530;
	text-align: center;
	font-size: 32px;
	font-style: bold;
}

/* Style of the user table at the top of the page */
#usertable {
	background-color: ffc;
	border: 1px solid black;
}

/* Style of the table for the button that goes to the login page */
#loginbutton {
	text-align: center;
	font-size: 20px;
}