/* CSS style sheet for the store pages - Tim */

/* Style of the background and margins */
body {
    background-color: #ededed;
    margin: 20px;
    padding: 0;
}

/* Style of the "welcome" bar */
h1 {
    color: #ffc;
    background-color: #6d1d1c;
    font-size: 40px;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: bold;
    text-align: center;
    letter-spacing: 8px;
}

/* Style of the "click to purchase" bar */
h2 {
	color: black;
	font-size: 30px;
	text-align: center;
}

/* Style of the "categories" title */
h3 {
	text-align: center;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	font-size: 25px;
}

/* Style of the user table at the top of the page */
#usertable {
	background-color: #ededed;
	border: 1px solid black;
}

/* style of the "themes" table */
#themes {
	font-size: 6; /* 25px */
	border-collapse: separate;
	border-spacing: 1em;
	/* display: none; */
	text-align: center;
	font-weight: bold;
}

/* style of the "userpics" table */
#userpics {
	font-size: 25px;
	border-collapse: separate;
	border-spacing: 1em;
	/* display: none; */
	text-align: center;
	font-weight: bold;
}

/* Style of the categories bar */
#categories {    
	width: 15%;
	float: left;
	display: inline;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	background-color: #6d1d1c;
	color: #ffc;
	vertical-align: top;
}

#catul {
	list-style-type: none;
	font-size: 6; /* 20px */
	margin: 0;
	padding: 10px;
}

#catli {
	text-align: center;
	padding: 5px;
}


/* Everything right of the categories menu */
#main {
	width: 85%;
	padding: 0;
	display: inline;
	margin: auto auto;
	vertical-align: top;
}

/* Center the purchase table */
#inner {
	margin-right: 15%;
}

.current {
	border: 1px solid #ffc;
	background: #ffc;
	padding: 7px 14px;
	color: #000000;
	font-size: 100%; /*20px;*/
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	width:  100%;
}

.other {
	border: 1px solid #ffc;
	background: #6d1d1c;
	padding: 7px 14px;
	color: white;
	font-size: 100%; /*20px;*/
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	width:  100%;
}

.other:hover {
	background: #ffc;
	color: #000000;
}

.other:focus {
	background: #ffc;
	color: #000000;
}

